*
{
    font-family: helvetica;
    margin: 0;
}

header
{
    background-color: rgb(146, 184, 112);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.element:first-child
{
    flex: 1;
}

.element:last-child
{
    flex: 1;
}

.element a
{
    color: purple;
    font-size: 18px;
    text-decoration: none;
}

.element a img
{
    max-width: 150px;
    height: auto;
}


main.xd
{
    letter-spacing: 10px;
}

.tresc
{
    background-color: rgb(146, 184, 112);
    display: flex;
    float: left;
    width: 50%;
    height: 600px;
}

.xd
{
    clear: both;
    background-color: rgb(100, 61, 49);
    color: white;
    text-align: center;
    padding: 10px;
}


tr td
{
    border: 2px dashed green;
    padding: 20px;
    text-align: center;
}

table
{
    border-spacing: 10px;
    padding: 20px;
    margin: 30px;
    border: 2px dashed green;
}

footer
{
    height: 100px;
}