*
{
    font-family: helvetica;
    margin: 0;
}

header
{
    background-color: rgb(146, 184, 112);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    float: left;
}


main.xd
{
    letter-spacing: 10px;
}

main.tresc
{

}

.xd
{
    clear: both;
    background-color: rgb(100, 61, 49);
    color: white;
    text-align: center;
    padding: 10px;
}