*
{
    margin: 0;

.sekcja
{
    background-color: #1b7721;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img
{
    width: 150px;
    height: 150px;
}