*
{
    margin: 0;
    padding: 0;
    font-family: Cambria, serif;
    background-color: AntiqueWhite;
}

.naglowek
{
    text-align: center;
    color: #fff;
    background-color: #a0522c;
}

nav
{
    padding-bottom: 10px;
}

a
{
    text-decoration: none;
    font-size: 1.25em;
    color: #fff;
    margin: 0 10px;
}