*
{
    margin: 0;
}


.logo
{
    height: 70px;
}

.baner
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    background-color: #1C59A7;
    color: white;
    height: 80px;
}


.panele
{
    display: flex;
    width: 100%;
}

.lewy
{
    width: 33%;
    background-color: #3A70B5;
    height: 200px;
}
.srodkowy
{
    width: 33%;
    background-color: #5A8AC8;
    height: 200px;
}

.prawy
{
    width: 34%;
    background-color: #86ACDD;
    height: 200px;
    text-align: center;
}

.regulamin
{
    background-color: yellow;
    color: blue;
    padding: 10px;
}
.dolny
{
    clear: both;
    width: 100%;
    background-color: #86ACDD;
    text-align: center;
    height: 300px;
}

footer
{
    background-color: #1C59A7;
    color: white;
}