body {
    margin: 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

#header > h1 {
    width: auto;
    margin: 0;
    padding: 30px;
    font-size: 70px;
}

#header > img {
    width: 300px;
    height: auto;
}

#obliczenia {
    padding: 32px 0;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#element {
    background-color: lightgray;
    width: 25.5%;
    min-height: 452px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#element > div {
    width: 100%;
}

#stopka {
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

button
{
    border: none;
    background-color: yellowgreen;
    padding: 10px 80px 10px 80px;
}

#logarytm-wynik
{
    font-size: 24px;

}
